<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://fonts.googleapis.com/css?family=Gowun+Dodum&display=swap"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap"
	rel="stylesheet" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
	integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
	integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
	integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<style type="text/css">
#profile {
	width: 134px;
	height: 134px;
	border-radius: 120px;
	/* border: solid black 1px; */
	display: inline-block;
	margin-right: 10px;
}

.doFollow, .doMatch {
	font-family: 'Gowun Dodum';
	border: solid black 1px;
	border-radius: 10px;
	margin-top: 15px;
	background-color: white;
}

.doFollow:hover, .doMatch:hover {
	background-color: #B983FF;
	color: white;
}

.nick {
	font-family: 'Gowun Dodum';
	font-size: 40px;
}

.default-txt {
	font-family: 'Gowun Dodum';
}

.top-container {
	width: 1000px;
	margin: auto;
}

.second-box {
	margin-top: -10px;
}

.nav-link {
	width: 250px;
	text-align: center;
	color: black;
}

.nav-link:hover {
	color: black;
	border-bottom: 0px;
	/* background-color: #B983FF;
	color: white; */
}

.active {
	background-color: #B983FF;
	color: white;
}

.postimg {
	width: 317px;
	height: 317px;
}

.is-check {
	border: none;
	background-color: #B983FF;
	color: white;
}
</style>
</head>
<body>
	[[${profile.id}]]
	<br> [[${session.user.id}]]
	<div class="top-container">
		<div class="d-flex">
			<div class="flex-shrink-0">
				<img id="profile"
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg"
					alt="...">
			</div>
			<div class="d-flex flex-column mb-2">
				<div class="d-flex flex-row mb-3">
					<div class="p-2 nick">[[${profile.nickname}]]</div>
					<div class="p-2" th:unless="${profile.id} == ${session.user.id}">
						<div th:if="${isFollow == 1}">
							<button type="button" id="follows"
								class="btn btn-light doFollow is-check">팔로우 취소</button>
						</div>
						<div th:unless="${isFollow == 1}">
							<button type="button" id="follows" class="btn btn-light doFollow">
								팔로우</button>
						</div>
					</div>
					<div class="p-2" th:unless="${profile.id} == ${session.user.id}">
						<button type="button" class="btn btn-light doMatch">매칭신청
						</button>
					</div>
				</div>
				<div class="d-flex flex-row mb-5 second-box">
					<div class="p-2 default-txt">팔로워</div>
					<div class="p-2 default-txt">[[${follower}]]</div>
					<div class="p-2 default-txt">팔로잉</div>
					<div class="p-2 default-txt">[[${following}]]</div>
					<div class="p-2 default-txt"
						th:if="${profile.id} == ${session.user.id}">
						<i class="fa-solid fa-gear"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-evenly mb-3 nav nav-tabs">
			<div class="p-2 type-btn nav-item">
				<a class="nav-link active" aria-current="page" href="#">게시글</a>
			</div>
			<div class="p-2 type-btn nav-item">
				<a class="nav-link" href="#">모집글</a>
			</div>
			<div class="p-2 type-btn nav-item"
				th:if="${profile.id} == ${session.user.id}">
				<a class="nav-link" href="#">내 매칭 상대</a>
			</div>
		</div>
		<div class="d-flex justify-content-evenly flex-wrap">
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
			<div class="p-2 contain">
				<img class="postimg" alt=""
					src="https://uyeonhi.s3.ap-northeast-2.amazonaws.com//user%5Cuser/profile%5Cc30b851c-1a25-4c81-9fd2-537084fee46d_1000_1.jpg">
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$(".nav-link").click(function() {
			$(".nav-link").removeClass('active');
			$(this).addClass('active');
		});
		
		if($(".nav-link").length == 2) {
			$(".nav-link").css("width", "400px");
		}
		
		$("#follows").click(function() {
			if($("#follows").hasClass("is-check") === false) {
				$.ajax({
			        url: "/auth/dofollow",
			        data: {"id" : [[${profile.id}]]},
			        type:"POST",
			        success: function onData (data) {
			        	$("#follows").html("팔로우 취소");
			        	$("#follows").addClass("is-check");
			            alert([[${profile.nickname}]] + "님을 팔로우 했습니다.");
			            location.reload();
			        },
			        error: function onError (error) {
			        	alert([[${profile.nickname}]] + "팔로우 실패했습니다.");
			        }
			    });
			}
			
			else {
				$.ajax({
			        url: "/auth/dofollow",
			        data: {"id" : [[${profile.id}]]},
			        type:"DELETE",
			        success: function onData (data) {
			        	$("#follows").html("팔로우");
			        	$("#follows").removeClass("is-check");
			            alert([[${profile.nickname}]] + "님을 팔로우 취소 했습니다.");
			            location.reload();
			        },
			        error: function onError (error) {
			        	alert([[${profile.nickname}]] + "팔로우 실패했습니다.");
			        }
			    });
			}
		});
		
	</script>
</body>
</html>

















