<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
		crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<style>
.container {
	width: 500px;
}

li {
	border-bottom: solid black 1px;
}
</style>
</head>
<body>

	<div class="container">
		<ul class="list-group">
			<li th:each="room : ${list}" class="list-group-item"><a
				th:href="@{/chat/room(roomId=${room.roomId})}">[[${room.name}]]</a>
				<span class="badge bg-primary rounded-pill">14</span></li>
		</ul>
	</div>
	<form th:action="@{/chat/room}" method="post">
		<input type="text" name="roomId" class="form-control"> <input
			type="text" name="name" class="form-control">
		<button class="btn btn-secondary">개설하기</button>
	</form>
	<script th:inline="javascript">
            $(document).ready(function(){

                var roomName = [[${roomName}]];

                if(roomName != null)
                    alert(roomName + "방이 개설되었습니다.");

                $(".btn-create").on("click", function (e){
                    e.preventDefault();

                    var name = $("input[name='name']").val();

                    if(name == "")
                        alert("Please write the name.")
                    else
                        $("form").submit();
                });

            });
        </script>
        </body>
</html>