<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class = "insertInquiry">
	<form action = "newInquiry" method = "post">
	<table>
		<tr><td>문의 제목</td></tr>
		<tr><td><input type = "text" name = "title" id = "title" placeholder = "제목"></td></tr>
		<tr><td>문의 내용</td></tr>
		<tr><td><input type = "text" name = "content" id = "content" placeholder = "내용을 구체적으로 작성해 주세요."></td></tr>
	</table>
	<input type = "submit" value = "등록하기">
	</form>
</div>
</body>
</html>