<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/sns.css}">
	<link rel="stylesheet" th:href="@{/css/recruit.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<!--	<script>

		window.onload = function () {
			function modalOn() {
				modal.style.display = "flex";
			};

			function modalOff() {
				modal.style.display = "none";
			};

			var btnModal = document.getElementById("btnModal");
				btnModal.addEventListener("click", e => {
				modalOn();
			});

			var closeBtn = document.getElementById("closeBtn");
			closeBtn.addEventListener("click", e => {
				modalOff();
			});

			$("#searchBtn").click(function () {
				alert("테스트 클릭 성공");
			});

			document.querySelector('#toggleBtn').addEventListener('click', function () {
				document.querySelector('.section.collapsible').classList.toggle('collapsed');

			});


		};


	</script> -->

</head>

<body>
	<div class="big-container">
		<div class="flex-container">
			<div class="disable-box">
				<div id="socketAlert" style="display: none;">
					.
				</div>
			</div>
			<div class="center-container">
				<div id="container">
				
					<form id="board_form">
						<span class="material-symbols-outlined" id="person">
							account_circle </span>
						<textarea class="box" id="toggleBtn" rows=20 cols=60 wrap=on></textarea>


						<input type="text" class="tag" placeholder="해시태그를 입력해 주세요(예 : 태그1,태그2)">



						<div class="board_write_top">

								<div class="user_info">
									<p class="userSession" type="hidden" th:text="${#authentication.name}"></p>
								</div>

								<div class="board_info">
									<select name="sns_select" id="sns_select" class="select">
										<option value="normal">게시글</option>
										<option value="recruit">모집글</option>
									</select>
									<button id="btn_fileUpload" type="button"><img class="file_image"
											src="../images/image-outline.svg" style="width: 3rem;"></button>
									<input type="number" max="10" class="total_person">
									<input type="date" class="deadline">
								</div>

					


							<button id="btn_board" type="button">등록</button>
						</div>




					</form>
					<!--	<div class="section collapsible">
							<span class="material-symbols-outlined">event_available</span>
							<span class="material-symbols-outlined">image</span>
							<span class="material-symbols-outlined">cloud_upload</span>
						</div> -->
				</div>
</div>
				<ul>
					<li th:each="list, status: ${boardList}">
						<div class="board-box">
							<input type="hidden" class="boardId" th:value="${list.boardId}" />
							<input type="hidden" class="boardIndex" th:value="${status.index}" />
							<button style="width:100px; height:30px;" th:value="${list.boardId}" type="button"
								class="delete_button">삭제</button>
</div>

							<div th:id="|ex${status.count}|" class="modal">
								<div class="modal_Ct">
									<div class="modal_leftCt">
										<div id="container3" th:value="${list.boardId}" th:class="${list.boardId}">
											이미지넣는곳
										</div>
									</div>
									<div class="modal_rightCt">
										<textarea th:id="|modify_${status.count}|"
											placeholder="작성하세요.">[[${list.content}]]
										</textarea>
									</div>


									<button style="width:100px; height:30px;" th:value="${list.boardId}" type="button"
										th:aa=${status.count} class="update_button">수정</button>
								</div>
							</div>


							<div th:if="${list.board_type == '게시글'}" id="container2" class="normal_board">
								<span id="ellipse"></span> <span class="material-symbols-outlined" id="btnModal">
									more_horiz </span>
								<span th:id="|boardWriter${list.boardId}|" th:value="${list.writer.id}" th:class="|boardWriter${list.boardId}|">[[${list.writer.id}]]</span>
							</div>
							<div th:if="${list.board_type == '모집글'}" id="container2" class="recruit_board">
								<span id="ellipse"></span> <span class="material-symbols-outlined" id="btnModal">
									more_horiz </span>
							</div>
							<div id="container3" th:value="${list.boardId}" th:class="${list.boardId}">이미지넣는곳</div>
							<div id="container4" th:value="${list.boardId}" th:class="${list.boardId}">

								<span id="regdate">today</span>
								<button type="button" class="reply_show">댓글보기</button>
								<span th:text="${list.likes.size()}"></span>
								<div class="like-box" th:if="${list.getLikes().size()==0}">
									<span class="material-symbols-outlined likes heartt" th:id="|heart_${list.boardId}|"
										th:onclick="|likes(${list.boardId}|">
										favorite </span>
								</div>
								<div th:each="likeCheck:${list.getLikes()}" class="like-box2">
									<div class="like-box" th:if="${session.user.id == likeCheck.user.id}">
										<span class="material-symbols-outlined notlikes heartt"
											th:id="|heart_${list.boardId}|" th:onclick="|likes(${list.boardId})|">
											favorite </span>
									</div>
								</div>
								</div>
								<div class="text_container">
									<span class="board_text">[[${list.content}]]</span>
									<div th:if="${list.board_type == '모집글'}">
										<span
											class="board_text">[[${list.applicant_person}]]/[[${list.total_person}]]</span>
									</div>
									<div class="text_container">
										<span class="board_text">[[${list.content}]]</span>
										<div th:if="${list.board_type == '모집글'}">
											<span class="board_text" th:text="${list.applicant_person}" th:id="|applicant_person_${list.boardId}|"></span>
											<span class="board_text" th:text="${list.total_person}" th:id="|total_person_${list.boardId}|"></span>
											<button th:id="|applyBtn_${list.boardId}|" th:onclick="|apply(${list.boardId})|">신청하기</button>
											<span th:text="${list.deadline}" th:id="|deadline_${list.boardId}|"></span>
										</div>
										<div th:each="hashtag, status : ${#strings.arraySplit(list.tag,',')}">
										 <a class="board_tag" th:id="|tag_${list.boardId+status.count+status.index}|" th:onclick="|tag(${list.boardId},${status.count},${status.index})|" th:text="|#${hashtag}|"></a> 
										 </div>


								</div>
								<div id="container5" th:value="${list.boardId}" th:class="${list.boardId}">
									<form class=reply_form>
										<div class="reply_container">
											<input type="hidden" th:class="|board${status.index}|"
												th:value="${list.boardId}" />
											<span class="material-symbols-outlined" id="person">
												account_circle </span>
											<textarea th:class="|reply_content${status.index}|" id="reply_text"
												wrap=on></textarea>
											<button th:class="btn_reply" type="button"
												th:value="${status.index}">등록</button>
										</div>
									</form>
								</div>
								<button id="show">팝업열기</button>
								<div class="background">
									<div class="window">
										<div class="popup">
											<button id="close">팝업닫기</button>
											<div class="modal_picture_box">
												
											</div>
											<div class="modal_reply_box">
												<div class="modal_writer_info">
													[[${list.writer.id}]]
													
													<ul>
														<li th:each="replyList, status: ${replyList}">
														</li>
													</ul>
												</div>
												reply
											</div>
										</div>
									</div>
								</div>

								<script>
									function show() {
										document.querySelector(".background").className = "background show";
									}

									function close() {
										document.querySelector(".background").className = "background";
									}

									document.querySelector("#show").addEventListener("click", show);
									document.querySelector("#close").addEventListener("click", close);
								</script>

							</div>
						</li>
					</ul>

				</div>
				<div class="right-container">
					<div id="search-container">
						<div id="search">
							<div id="searchbox">

								<form id="search-form">
									<span class="material-symbols-outlined" id="searchBtn">search</span>
									<input type="text" class="box" id="searchTag" name="tag">
							</form>
							<div id="container5" th:value="${list.boardId}" th:class="${list.boardId}">
							</div>
							<div class="text" id="searchContent">
								<p id="searchBefore">태그를 검색해 주세요</p>
							</div>
					



						</div>

			</div>
			<div class="right-container">
				<div id="search-container">
					<div id="search">
						<div id="searchbox">
							<form id="search-form">
								<span class="material-symbols-outlined searchBtn" id="searchBtn2">search</span>
								<input type="text" class="box" id="searchTag" name="keyword">
							</form>
						</div>
						<div class="text" id="searchContent">
							<p id="searchBefore">친구찾던지태그검색하던지</p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>



	</div>

	<div class="background">
		<div class="window">
			<div class="popup">
				<div class="modal_picture_box">

				</div>
				<div class="modal_reply_box">
					<div class="modal_writer_info">
						<div id="here">

						</div>
					</div>
				</div>
				<button id="close">팝업닫기</button>

			</div>
		</div>
	</div>

	<!-- modal -->
	<div id="modal" class="modal-overlay">
		<div class="content">
			<table>
				<tr>
					<td>신고</td>
				</tr>
				<tr>
					<td>팔로우 취소</td>
				</tr>
				<tr>
					<td id="closeBtn">취소</td>
				</tr>
			</table>
		</div>
	</div>
	
	<script th:inline="javascript">
		var websocket  = null;

		$(document).ready(function () {
				var user = [[${session.user}]];
				websocket = new WebSocket("ws://localhost:7777/ws/noti");

				console.log(user);
			if (user != null) {
				connectWs();
			}
		})


		function connectWs() {
			
			websocket.onopen = function () {
				console.log('open');
			};

			websocket.onmessage = function (event) {
				console.log("onmessage" + event.data);
				let socketAlert = $('div#socketAlert');
				socketAlert.html(event.data)
				socketAlert.css('display', 'block');

				setTimeout(function () {
					socketAlert.css('display', 'none');

				}, 5000);
			};

			websocket.onclose = function () {
				console.log('close');
			};
		};
	</script>

	<script src="/js/board/likes.js"></script>
	<script src="/js/board/board.js"></script>
	<script src="/js/board/reply.js"></script>
	<script src="/js/board/modal.js"></script>
	<script src="/js/board/tag.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>



	


</body>

</html>