<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

	<link rel="stylesheet" th:href="@{/css/sns.css}">
	<script>

		window.onload = function () {
			function modalOn() {
				modal.style.display = "flex";
			};

			function modalOff() {
				modal.style.display = "none";
			};

			var btnModal = document.getElementById("btnModal");
			btnModal.addEventListener("click", e => {
				modalOn();
			});

			var closeBtn = document.getElementById("closeBtn");
			closeBtn.addEventListener("click", e => {
				modalOff();
			});

			$("#searchBtn").click(function () {
				alert("테스트 클릭 성공");
			});

			document.querySelector('#toggleBtn').addEventListener('click', function () {
				document.querySelector('.section.collapsible').classList.toggle('collapsed');

			});
		};


	</script>

</head>

<body>
	<div>
		<div class="big-container">
			<div class="flex-container">
				<div class="disable-box">
					.
				</div>
				<div class="center-container">
					<div id="container">
						<span class="material-symbols-outlined" id="person">
							account_circle </span>
						<form id="board_form" action="boardWrite" method="post">
							<input type="text" class="box" id="toggleBtn">
							<button id="btn_board" type="button">등록</button>
						</form>
						<div class="section collapsible">
							<span class="material-symbols-outlined">event_available</span>
							<span class="material-symbols-outlined">image</span>
							<span class="material-symbols-outlined">cloud_upload</span>
						</div>
					</div>
					<ul>
						<li th:each="dto : ${list}">
							<div class="board-box">
								<div id="container2">
									<span id="ellipse"></span> <span class="material-symbols-outlined" id="btnModal">
										more_horiz </span>
								</div>
								<div id="container3">이미지넣는곳</div>
								<div id="container4">
									<span id="regdate">today</span>
									<span class="material-symbols-outlined" id="heart"> favorite </span>
									<span class="material-symbols-outlined" id="bookmark"> bookmark </span>
									<span>[[${dto.contents}]]</span>
								</div>
							</div>
						</li>
					</ul>

				</div>
				<div class="right-container">
					<div id="search-container">
						<div id="search">
							<div id="searchbox">
								<span class="material-symbols-outlined" id="searchBtn">search</span>
								<input type="text" class="box">
							</div>
							<div class="text">
								<p>친구찾던지태그검색하던지</p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>



	</div>

	<!-- modal -->
	<div id="modal" class="modal-overlay">
		<div class="content">
			<table>
				<tr>
					<td>신고</td>
				</tr>
				<tr>
					<td>팔로우 취소</td>
				</tr>
				<tr>
					<td id="closeBtn">취소</td>
				</tr>
			</table>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function () {
			$('#toggleBtn').click(function () {
				$('#container').css("height", "250px");
				$('#toggleBtn').css("height", "200px");
				$('#btn_board').css("display", "block")
			});

			$('#btn_board').on('click', function () {
				const contents = $("#toggleBtn").val().trim();

				if (contents === "") {
					alert("내용을 입력해주세요.");
					return;
				}

				$.ajax({
					url: "boardWrite",
					data: contents,
					type: "POST",
					success: function (res) {
						alert("게시글 등록 완료");
						location.href = "/";
					}
				})
			});
		});


	</script>

</body>

</html>