<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/sns.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<script>

		window.onload = function () {
			function modalOn() {
				modal.style.display = "flex";
			};

			function modalOff() {
				modal.style.display = "none";
			};

			var btnModal = document.getElementById("btnModal");
			btnModal.addEventListener("click", e => {
				modalOn();
			});

			var closeBtn = document.getElementById("closeBtn");
			closeBtn.addEventListener("click", e => {
				modalOff();
			});

			$("#searchBtn").click(function () {
				alert("테스트 클릭 성공");
			});

			document.querySelector('#toggleBtn').addEventListener('click', function () {
				document.querySelector('.section.collapsible').classList.toggle('collapsed');

			});
		};


	</script>

</head>

<body>


	<div>
		<div class="big-container">
			<div class="flex-container">
				<div class="disable-box">
					.
				</div>
				<div class="center-container">
					<div id="container">
						<span class="material-symbols-outlined" id="person">
							account_circle </span>
						<form id="board_form">
							<input type="text" th:value="${username}">
							<input type="textarea" class="box" id="toggleBtn">
							<select name="sns_select" id="sns_select" class="select">
								<option value="normal">게시글</option>
								<option value="recruit">모집글</option>
							</select>
							<button id="btn_fileUpload" type="button">사진등록</button>
							<button id="btn_board" type="button">등록</button>
						</form>
						<div class="section collapsible">
							<span class="material-symbols-outlined">event_available</span>
							<span class="material-symbols-outlined">image</span>
							<span class="material-symbols-outlined">cloud_upload</span>
						</div>
					</div>



					<script>

					</script>


					<ul>
						<li th:each="list, status: ${boardList}">
							<div class="board-box">
								<input type="hidden" class="boardId" th:value="${list.boardId}" />
								<input type="hidden" class="boardIndex" th:value="${status.index}" />
								<button style="width:100px; height:30px;" th:value="${list.boardId}" type="button"
									class="delete_button">삭제</button>



								<p><a class="btn" th:href="|#ex${status.count}|"
										th:onclick="|call(${status.count})|">도달창띄우기2</a></p>

								<div th:id="|ex${status.count}|" class="modal">

									<div id="container3" th:value="${list.boardId}" th:class="${list.boardId}">이미지넣는곳
									</div>
									<textarea th:id="|modify_${status.count}|" placeholder="작성하세요.">[[${list.content}]]
									</textarea>

									<button style="width:100px; height:30px;" th:value="${list.boardId}" type="button"
										th:aa=${status.count} class="update_button">수정</button>
								</div>


								<div th:if="${list.board_type == '게시글'}" id="container2" class="normal_board">
									<span id="ellipse"></span> <span class="material-symbols-outlined" id="btnModal">
										more_horiz </span>
								</div>
								<div th:if="${list.board_type == '모집글'}" id="container2" class="recruit_board">
									<span id="ellipse"></span> <span class="material-symbols-outlined" id="btnModal">
										more_horiz </span>
								</div>
								<div id="container3" th:value="${list.boardId}" th:class="${list.boardId}">이미지넣는곳</div>
								<div id="container4" th:value="${list.boardId}" th:class="${list.boardId}">
									<span id="regdate">today</span>
									<span class="material-symbols-outlined" id="heart"> favorite </span>
									<span class="material-symbols-outlined" id="bookmark"> bookmark </span>
									<span class="board_text">[[${list.content}]]</span>
								</div>
							</div>
						</li>
					</ul>

				</div>
				<div class="right-container">
					<div id="search-container">
						<div id="search">
							<div id="searchbox">
								<span class="material-symbols-outlined" id="searchBtn">search</span>
								<input type="text" class="box">
							</div>
							<div class="text">
								<p>친구찾던지태그검색하던지</p>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>



	</div>

	<!-- modal -->
	<div id="modal" class="modal-overlay">
		<div class="content">
			<table>
				<tr>
					<td>신고</td>
				</tr>
				<tr>
					<td>팔로우 취소</td>
				</tr>
				<tr>
					<td id="closeBtn">취소</td>
				</tr>
			</table>
		</div>
	</div>

	<script>
		$(document).ready(function () {



			$('#toggleBtn').click(function () {
				$('#container').css("height", "250px");
				$('#toggleBtn').css("height", "200px");
				$('#btn_board').css("display", "block");
			});


			$('#btn_board').on('click', function () {
				let data = {
					content: $("#toggleBtn").val().trim(),
					board_type: $("#sns_select option:selected").text()
				};

				console.log(data);

				$.ajax({
					url: '/api/sns/boardWrite',
					contentType: 'application/json',
					data: JSON.stringify(data),
					dataType: "json",
					type: "POST",
					success: function (res) {
						alert("게시글 등록 완료");
						location.href = "/sns/sns1";
					},
					error: function (err) {
						alert(JSON.stringify(err));
					}
				})
			});

			$('.delete_button').on('click', function () {
				let board_id = $(this).val();

				console.log(board_id);

				$.ajax({
					url: '/api/sns/boardDelete/' + board_id,
					contentType: 'application/json',
					dataType: "json",
					type: "DELETE",
					success: function (res) {
						alert("게시글 삭제 완료");
						location.href = "/sns/sns1";
					},
					error: function (err) {
						alert(JSON.stringify(err));
					}
				})
			});



			$('.update_button').on('click', function () {



				let boardId = $(this).val();
				let seqence = $(this).attr('aa');
				let boardContent = $('#modify_' + seqence).val();

				data = {
					board_id: boardId,
					seq: seqence,
					content: boardContent
				}

				$.ajax({
					url: '/api/sns/boardUpdate/' + boardId,
					data:JSON.stringify(data),
					contentType: 'application/json',
					dataType: "json",
					type: "PUT",
					success: function (res) {
						alert("게시글 수정 완료");
						location.href = "/sns/sns1";
					},
					error: function (err) {
						alert(JSON.stringify(err));
					}
				})
			});
		});

		function call(modalName) {


			$("#ex" + modalName).modal({
				fadeDuration: 250
			});
		}
	</script>

</body>

</html>