<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sliderFragment">

	<head>
		<link rel="stylesheet" type="text/css"
			href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
		<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	</head>

	<body>
		<div class="slider-wrap">
			<div th:each="imageURL : ${#strings.arraySplit(list.image_path, ',')}">
				<div>
					<img style="margin:auto; max-width: 100%; height: auto;" th:src="${imageURL}"></img>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(function () {
			$('.slider-wrap').slick({
				slide: 'div',        
				infinite: true,    
				slidesToShow: 1,       
				slidesToScroll: 1,        
				speed: 500,    
				arrows: true,        
				dots: true,        
				autoplay: true,          
				autoplaySpeed: 2000,       
				pauseOnHover: true,     
				vertical: false,     
				prevArrow: "<button type='button' style='position:absolute; top:30%; z-index:10;' class='slick-prev'>Previous</button>",
				nextArrow: "<button type='button' style='position:absolute; top:30%; right:0 ; z-index:10;' class='slick-next'>Next</button>",
				draggable: true,     
				responsive: [ 
					{
						breakpoint: 960, //화면 사이즈 960px
						settings: {
							slidesToShow: 4
						}
					},
					{
						breakpoint: 768, //화면 사이즈 768px
						settings: {
							slidesToShow: 5
						}
					}
				]

			});
		})
	</script>
</th:block>

</html>