#jihyun{
	width: auto;
	height: 100vh;
	background: linear-gradient(180deg, #B983FF 0%, rgba(255, 131, 243, 0.33) 100%);
}

#textAll{

position: absolute;
width: 50vw;
height: 406px;
left: 190px;
top: 324px;
	
}
#text1{
	
/* position: absolute; */
/* width: 831px;
height: 213px; */
width: 60vw;
height: 10vw;
left: 137px;
top: 324px;

font-family: 'Black Han Sans';
font-style: normal;
font-weight: 400;
font-size: 4.5vw;
line-height: 110.5%;


color: #FFFFFF;
}
#text2{
	
/* position: absolute; */
/* width: 569px;
height: 121px; */
width: 30vw;
height: 7vw;
left: 137px;
top: 586px;

font-family: 'Gowun Dodum';
font-style: normal;
font-weight: 400;
font-size: 2vw;
line-height: 110.5%;
/* or 55px */


color: #FFFFFF;
}


#image1{

position: absolute;
/* width: 396px;
height: 567px; */
width: 20vw;
height: 27vw;
left: 1480px;
top: 273px;

z-index : 2;
}
#image2{
position: absolute;
/* width: 396px;
height: 567px; */
width: 20vw;
height: 27vw;
left: 1790px;
top: 273px;
filter : blur(5px);

z-index : 1;

}
