
ul{
	 padding: 0;
	 list-style: none;	


}

.file_image{
	padding:0;
    border: none;
    background: none;
    display:none;
 	width: 100%;
  	height: 100%;
    
}



.flex-container{
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow:0;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
    justify-content: center;

}

.flex-container .disable-box{
    flex-grow: 0;
    flex-shrink:1;
    width: 30%;
}

.flex-container .center-container {
    flex-grow: 0;
    flex-shrink:1;
    justify-content: center;
    width: 30%;
    margin:0 auto;
}

.flex-container .center-container #container {
    margin-top: 30px;
    box-sizing: border-box;
    width: 85%;
    height: 7vh;
    left: 40.938em;
    top: 7.875em;

    border: 1px solid #DDDDDD;;
    border-radius: 10px;

}

.flex-container .center-container #container .board_write_top #sns_select{
	display:none;
}

.flex-container .center-container .board-box{
    margin: 30px auto 0px auto;
    width:100%;
}

#modify_textarea{
	resize:none;
	width: 20em;
    height: 2.4em;

    background: #D9D9D9;
    border-radius: 0.5em;
    border: white;

    font-size: 1.2em;
}

.flex-container .center-container .board-box #container2{
    border-radius: 10px 10px 0 0;
    width:85%;
    height:8vh;
}
.flex-container .center-container .board-box #container4{
    width:85%;
    height:20vh;
    box-sizing: border-box;
   
    background: #FFFFFF;
    border:solid #DDDDDD;
    border-width: 0 1px;

}

.flex-container .center-container .board-box #container4 .text_container{
	margin:15px 15px 30px 15px;
	box-sizing: border-box;

}

.flex-container .center-container .board-box #container5{
	width:85%;
	height:6vh;
	border:#dddddd solid 1px;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;


}

.flex-container .center-container .board-box #container5 .reply_container{
	border:solid #dddddd;
	border-width: 1px 0 0 0;
}

.flex-container .center-container .board-box #container5 .reply_container #reply_text{
	margin:0 auto;
	width:75%;
	height:3.5vh;
}

.flex-container .center-container .box {

    /*  width: 380px;
    height: 46px;
    margin-top: 10px;
    margin-right: 8px;
    float: right; */

    width: 20em;
    height: 2.4em;
    margin-top: 10px;
    margin-right: 8px;
    float: right;

    background: #D9D9D9;
    border-radius: 0.688em;
    border: white;

    font-size: 1.2em;
}

.box {

    /*  width: 380px;
    height: 46px;
    margin-top: 10px;
    margin-right: 8px;
    float: right; */

    width: 20em;
    height: 2.4em;
    margin-top: 10px;
    margin-right: 8px;
    float: right;

    background: #D9D9D9;
    border-radius: 0.688em;
    border: white;

    font-size: 1.2em;
}

.board_write_top #btn_fileUpload{
	background-color:transparent;
	padding:0;
	border:none;
	display:none;
}

.big-container .flex-container .center-container #board_form{
	width:100%;
}

.big-container .flex-container .center-container #board_form .board_write_top{
	height:50px;
	clear:both;
}

.big-container .flex-container .center-container #board_form .board_write_top .user_info{
	flex-shrink: 1;
	flex-grow: 1;
}

.big-container .flex-container .center-container #board_form .board_write_top .board_info{
	margin:0 30px;
}

.big-container .flex-container .center-container #board_form .board_write_top #btn_fileUpload:hover{
	cursor:pointer;
}



.big-container .flex-container .center-container #board_form .board_write_top .userSession{
	height:100%;
	line-height: 100%;
	position:relative;
	display:none;
}

.big-container .flex-container .center-container #board_form #toggleBtn{
    width: 80%;
    height: 4.5vh;
    margin-top: 10px;
    margin-right: 8px;
    float: right;
    background: #D9D9D9;
    border-radius: 0.688em;
    display:block;
}

.big-container .flex-container .center-container #board_form #btn_board{
	display:none;
	margin:0 20px 0 0;
}

.flex-container .right-container {
    width: 30%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    border-left: 1px solid #dddddd;

}


.flex-container .right-container #search-container{
    margin-right: auto;
    margin-left: auto;
}

.flex-container .right-container #search-container .text{
    line-height: 100%;
}



#container2 {
    box-sizing: border-box;
    /* width: 478px;
    height: 68px;
    left: 655px;
    top: 215px; */

    width: 29.875em;
    height: 4.25em;
    left: 40.938em;
    top: 13.438em;

    border: 1px solid #DDDDDD;
}

.recruit_board{
	background: black;
}

.material-symbols-outlined {
    color: #DDDDDD;
    width:3rem;
    height:3rem;
}

#person{
	margin-top: 8px;
	margin-left: 8px;
	font-size: 2.4vw;
}

#container3 {
    /* width: 478px;
    height: 398px;
    left: 655px;
    top: 283px; */

    width: 85%;
    height: 50vh;
    left: 40.938em;
    top: 17.688em;

    background: #D9D9D9;
}



#person {
    font-size: 2.4vw;
    float: left;
    color: #B983FF;
}

#ellipse {
    position: absolute;
    width: 46px;
    height: 45px;
    margin: 10px;

    background: #B983FF;
    border-radius: 135px;
}

.heartt {
	margin:4px;
    font-size: 1.6em;
    color: black;
    
}

.heartt:hover {
	font-variation-settings:'FILL' 1;
    color: red;
}


.notlikes{
	font-variation-settings:'FILL' 1;
    color: red;
	
}

#regdate {
    margin-left: 12px;
    font-size: 1.3em;
}

#searchbox {
    box-sizing: border-box;
    width: 477px;
    height: 68px;
    left: 1364px;
    top: 125px;

    background: #FFFFFF;
}

#searchBtn {
    font-size: 2.3em;
    color: black;
    margin-top: 16px;
}

.text {
    width: 538px;
    height: 55px;
    left: 1319px;
    top: 566px;

    font-family: 'NanumGothicOTF';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;

    text-align: center;

    color: #000000;
}

table {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 400px;
    height: 180px;
    background: white;
}

td {
    text-align: center;
    border-bottom: 1px solid lightgray;
    color: red;
    font-size: 1.3em;
}

#closeBtn {
    border-bottom: none;
    color: black;
}

td:hover {
    background: rgba(85, 85, 85, 0.2);
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* 버튼누르면->display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(85, 85, 85, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
}

.section {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    height: auto;
    max-height: 600px;
}

.section.collapsed {
    max-height: 0;
}

.modal_leftCt{
	display:inline-block;
}

.modal_rightCt{
	display:inline-block;
}

/*
모달 css 시작
*/

 .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1000;

        /* 숨기기 */
        z-index: -1;
        opacity: 0;
      }

      .show {
        opacity: 1;
        z-index: 1000;
        transition: all 0.5s;
      }

      .window {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .popup {
		display:flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

        /* 임시 지정 */
        width: 60vw;
        height: 80vh;

        /* 초기에 약간 아래에 배치 */
        transform: translate(-50%, -40%);
      }

      .show .popup {
        transform: translate(-50%, -50%);
        transition: all 0.5s;
      }
      
    .show .popup .modal_picture_box{
		flex-grow: 1;
		flex-shrink: 1;
		width:55%;
	}
	
	.show .popup .modal_reply_box{
		flex-grow: 1;
		flex-shrink: 1;
		width:45%;
	}