<!DOCTYPE html>
<html>
<head>
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Libre+Barcode+39+Text&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Libre+Barcode+39+Text&display=swap"
	rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	#firstContainer{
		margin:0 auto;
		width:100vw;
		height: 100vh;
	}
</style>
</head>
<body>
<div id="firstContainer">
	<div id = "josungmin"></div>
	<div id = "seeun"></div>
	<div id = "jaehwan"></div>
	<div id = "jihyun"></div>
	<div id= "yujin"></div>
	<div id = "usungmin"></div>
</div>
</body>
</html>