<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style type="text/css">
.view3 {
	margin-left:5%;
	width: 88%;
}
.view3TD {
	margin-top: 1.5%;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	font-size: 0.9rem;
}
.view3TD td {
	border: none;
}
.tdTitle {
	font-weight: bold;
	border-bottom: 2px solid #e3e3e3;
}
.tdContent{
	border-bottom: 1px solid #e3e3e3;
}
.wid1{
	width: 7%;
}
</style>
</head>
<body>
	<div class="view3">
		<table class="view3TD">
			<tr class="tdTitle">
				<td class="wid1">번호</td>
				<td>사용일자</td>
				<td>사용수량</td>
				<td>잔여수량</td>
			</tr>
			<tr class="tdContent">
				<td>1</td>
				<td>2022-07-30</td>
				<td>3개</td>
				<td>7개</td>
			</tr>
		</table>
	</div>
</body>
</html>